<!DOCTYPE html>
<html lang="en">
<head
    <meta chartset="utf-8">
    <title>Hello Go web tuts!</title>
</head>
<body>    
    <figure>
        <blockquote>
            <p>{{.Content}}</p>
        </blockquote>
        <figcaption>—{{.Author}}</figcaption>
    </figure>  
</body>
</html>